body {
  font-family: Arial, sans-serif;
}

#todo-list,
#done-list {
  list-style-type: none;
  padding: 0;
}

.task {
  margin-bottom: 5px;
}

.task input[type="checkbox"] {
  margin-right: 5px;
}

.done-task {
  text-decoration: line-through;
}
