ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
  border: 2px ridge gray;
  padding: 5%;
}

p {
  border: 2px ridge gray;
  padding-left: 5%;
}

body {
  background-color: darksalmon;
}

button {
  font-size: 1cqw;
  border: 3px ridge black;
}
