@keyframes fillAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#nextEpisodeButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#nextEpisodeButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Farven på udfyldning */
  animation: fillAnimation 2s ease forwards; /* Brug animationen fillAnimation */
}
